@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<MyButton Title="Click Me" Click="IncrementCount"></MyButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
