@namespace BlazorBook
@using System.Reflection

<div class="blazor-book-page">
    @foreach (var type in _types)
    {
        <BlazorBookItem Type="@type"></BlazorBookItem>
    }
</div>

@code {

    [Parameter]
    public Assembly Assembly { get; set; }

    private Type[] _types;

    protected override Task OnInitializedAsync()
    {
        _types = GetBlazorBookTypes(Assembly).ToArray();
        return base.OnInitializedAsync();
    }

    private static IEnumerable<Type> GetBlazorBookTypes(Assembly assembly)
    {
        foreach (Type type in assembly.GetTypes())
        {
            if (type.GetCustomAttributes(typeof(BlazorBookComponentAttribute), true).Length > 0)
            {
                yield return type;
            }
        }
    }

}