@inherits BlazorBookBaseComponent

<div class="card">
    <h6 class="card-header">Button</h6>
    <div class="card-body">
        <MyButton Title="Button"></MyButton>
    </div>
</div>

<div class="card">
    <h6 class="card-header">Button with Title</h6>
    <div class="card-body">
        <input type="text" @bind="title" @bind:event="oninput" />
        <MyButton Title=@title></MyButton>
    </div>
</div>

@code {
    public string title { get; set; } = "Title with Binding";
}
